* {
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  max-width: 15rem;
  padding-top: 1.76rem;
  height: 19.56rem;
}

.swiper-slide {
  background-position: center;
  background-size: 100%;
  width: 11rem;
  height: 19.56rem;
}

.swiper-slide img {
  width: 11rem;
  height: 19.56rem;
}

.poser-mask {
  position: fixed;
  z-index: 1002;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}