.item-3 .container {
  height: 100%;
  display: none;
  position: relative; }
  .item-3 .container .tag-canvas {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
