<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>代码规范</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="../css/doc.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/shCore.css">
</head>

<body>
  <div class="wrapper">
    <div id="J_menu" class="sdmenu">
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/2/index.html">foreach</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/3/index.html">map</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/4/index.html">filter</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/5/index.html">find</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/6/index.html">every&some1</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/7/index.html">every&some2</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/8/index.html">数组方法(reduce1)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/9/index.html">数组方法(reduce2)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/10/index.html">let和const</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/11/index.html">模板字符串</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/12/index.html">箭头函数</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/13/index.html">增项对象字面量</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/14/index.html">函数参数默认值</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/15/index.html">展开运算符</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/16/index.html">解构(对象)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/17/index.html">解构(对象-Array)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/18/index.html">面向对象(class)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/19/index.html">generator生成器(斐波那契数列)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/20/index.html">generator生成器原理(迭代器实现)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/21/index.html">generator实战demo</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/22/index.html">新的数据结构(map)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/23/index.html">新的数据结构(set)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/24/index.html">Promise(三种状态)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/25/index.html">fetch(新的http请求方法)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/26/index.html">fetch(请求三种数据格式)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/27/index.html">封装fetch库(增删改查)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/28/index.html">async和await(es7)</a>
      </div>
      <div class="list">
        <a class="tit" target="_blank" href="../demo/es6/29/index.html">async封装fetch(2.0版本)</a>
      </div>
    </div>
  </div>
</body>

</html>