@charset "UTF-8";

/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-04-18 09:45:44
 * @version $Id$
 */

.popMod {
	position: absolute;
	padding: 5px 10px;
	line-height: 22px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 12px;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.tip1 {
	width: 0;
	height: 0;
	position: absolute;
	left: 10px;
	top: -7px;
	overflow: hidden;
	border: 8px dashed transparent;
	border-bottom: 8px solid #aaa;
	border-top: none
}
.tip2 {
	width: 0;
	height: 0;
	position: absolute;
	left: 11px;
	top: -6px;
	overflow: hidden;
	border: 7px dashed transparent;
	border-bottom: 7px solid #fff;
	border-top: none
}
.form{
	font-size: 14px;
}
.form input{
	padding: 4px 10px;
	border: 1px solid #ccc;
}
.form .input-group{
	margin-bottom: 20px;
	width: 100%;
}
.form .input-group-addon{
	float: left;
	width: 80px;
	text-align: right;
	margin-right: 10px;
}
.form-demo{
	width: 400px;
	margin: 0 auto;
}
.input-con{
	margin-left: 90px;
}
.form-code{
	width: 60px;
}
.code-img{
	vertical-align: middle; width: 80px;
}